name: Checks

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  style:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm -r install --frozen-lockfile

      - name: format
        run: pnpm -r format:check

      - name: Lint
        run: pnpm -r lint

  deployable:
    name: Deployable
    runs-on: ubuntu-latest
    env:
      PUBLIC_API_URL: http://localhost:8787

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm -r install --frozen-lockfile

      - name: Is api deployable
        run: pnpm api:deploy:dry

      - name: Build web
        run: pnpm --filter web build

      - name: Is web deployable
        run: pnpm web:deploy:dry



